<?xml version="1.0"?>
<config>
    <modules>
        <Wishlattedesk_Customerlistreport>
            <version>0.1.0</version>
        </Wishlattedesk_Customerlistreport>
    </modules>
    <global>
        <models>
            <customerlistreport>
                <class>Wishlattedesk_Customerlistreport_Model</class>
            </customerlistreport>
        </models>
        <blocks>
            <customerlistreport>
                <class>Wishlattedesk_Customerlistreport_Block</class>
            </customerlistreport>
        </blocks>
        <helpers>
            <customerlistreport>
                <class>Wishlattedesk_Customerlistreport_Helper</class>
            </customerlistreport>
        </helpers>
        `
        <resources>
            <customerlistreport_setup>
                <setup>
                    <module>Wishlattedesk_Customerlistreport</module>
                </setup>
            </customerlistreport_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customerlistreport before="Mage_Adminhtml">Wishlattedesk_Customerlistreport_Adminhtml</customerlistreport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customerlistreport>
                    <file>customerlistreport.xml</file>
                </customerlistreport>
            </updates>
        </layout>
    </adminhtml>
</config>