<?xml version="1.0"?>
<config>
    <modules>
        <Wishlattedesk_Event>
            <version>0.1.0</version>
        </Wishlattedesk_Event>
    </modules>
    <global>
        <models>
            <event>
                <class>Wishlattedesk_Event_Model</class>
                <resourceModel>event_resource</resourceModel>
            </event>
            <event_resource>
                <class>Wishlattedesk_Event_Model_Resource</class>
                <entities>
                    <event>
                        <table>wishlattedesk_event</table>
                    </event>
                    <event_image>
                        <table>wishlattedesk_event_image</table>
                    </event_image>
                    <participate>
                        <table>wishlattedesk_participate</table>
                    </participate>
                    <status>
                        <table>wishlattedesk_status</table>
                    </status>
                </entities>
            </event_resource>
        </models>
        <blocks>
            <event>
                <class>Wishlattedesk_Event_Block</class>
            </event>
        </blocks>
        <helpers>
            <event>
                <class>Wishlattedesk_Event_Helper</class>
            </event>
        </helpers>
        <resources>
            <event_setup>
                <setup>
                    <module>Wishlattedesk_Event</module>
                </setup>
            </event_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <event before="Mage_Adminhtml">Wishlattedesk_Event_Adminhtml</event>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <event>
                    <file>wishlattedesk/event.xml</file>
                </event>
            </updates>
        </layout>
    </adminhtml>
</config>